

<%# add navigation links to this file %>

<li><%= link_to 'About', page_path('about') %></li>

<li><%= link_to 'FAQ', page_path('faq') %></li>

<li><%= link_to 'Judging', page_path('judging') %></li>

<li><%= link_to 'Resources', page_path('resources') %></li>

<li><%= link_to 'Rules', page_path('rules') %></li>

<li><%= link_to 'Schedule', page_path('schedule') %></li>

<li><%= link_to 'Sponsors', page_path('sponsors') %></li>
